
web/node_modules
web/.pnp
web/.pnp.js

# testing
web/coverage

# next.js
web/.next/
web/out/

# production
web/build

# misc
web/.DS_Store
web/*.pem

# debug
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.pnpm-debug.log*

# local env files
web/.env*.local

# vercel
web/.vercel

# typescript
web/*.tsbuildinfo
web/next-env.d.ts



mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

mobile/# macOS
mobile/.DS_Store



server/node_modules
server/.env.local
server/.env